
* {
  margin: 0;
  padding: 0;
}

body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 10px;
  background:white;
}

h1,h2,h3 {
  font-weight: bold;
}

h1 {
  font-size: 5em;
  
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

.nav-bar ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

#logo {
  font-size: 3em;
  font-weight: 700;
  color:black;
  margin-right: auto;
  cursor: pointer;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links a {
  font-size: 1.5em;
  text-decoration: none;
  color: rgb(11, 10, 10);
  padding: 10px;
  margin: 10px;
}

/* .nav-links a:hover {
  color: white;
} */

#home {
  background-color: rgb(243, 247, 250);
  color: rgb(104, 173, 241);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 8px;
}

#home h2 {
  font-weight: 100;
  letter-spacing: .5px;
}

#bio {
  display: flex;
  align-items: center;

}

#bio h1 {
  letter-spacing: 0.5px;
  font-size: 4em;
  font-weight: 500;
}

#bio img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 100px;

}

#bio article {
  margin: 10px;
}

#bio article p {
  padding: 20px 0;
}

p {
  font-size: 2em;
}

.link-button {
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.5px;
  background: #0c0b0a !important;
  color: white !important;
  font-size: 1.8em;
  border-radius: 5%;
  cursor: pointer;
  border-color: black;
  padding: 10px;
  font-weight: 100;
}

#portfolio {
  background: url(./assets/Porfolio-background.svg);
  background-color:rgb(231, 231, 231);
  color:white;
  display: flex;
  flex-direction: column;
  height: 20px;
  text-align: center;
  margin: 20px 0;
}

#portfolio hr {

  width: 700px;
  margin: 20px auto;
}

#portfolio div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 50px;
}

#portfolio div article {
  display: flex;
  flex-direction: column;
  align-items: center;
  background:white;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  height: 200px;
  width: 250px;
}



#portfolio>* {
  margin-top: 20px;
}

#portfolio>p {
  font-weight: 100;
}

#portfolio div article p,
h3,
img {
  text-align: center;
  padding: 20px 5px 0 5px;
}

.portfolio-icon {
  font-size: 3em;
  color: #f8f3f2
}

#skills h2 {
  text-align: center;
}

.skill-container {
  display: flex;
  justify-content: space-around;
}

#skills ul {
  list-style: none;
  font-size: 1.5em;
}

#skills ul li {
  margin: 10px 0;
  ;
}

progress[value] {
  height: 10px;
  width: 350px;
  -webkit-appearance: none;
}

/* Styled only for google chrome */

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}



::-webkit-progress-value {
  background-color: #F05136;
}

#contact {
  background-color: black;
  color: white;
}

.input {
  line-height: 2em;
  width: 350px;
  border-radius: 3px;
  border-color: black;
}

p{
  font-size: 20px;
}